# Basic Framework
fastapi==0.104.1
uvicorn==0.24.0

# Database
asyncpg==0.29.0
redis==5.0.1
psycopg2-binary==2.9.9
SQLAlchemy>=2.0.23

# Trading API
python-binance>=1.0.19
MetaTrader5>=5.0.45
aiomysql==0.2.0

# Data Processing
pandas>=2.1.4
numpy>=1.26.2
scikit-learn==1.4.0
joblib==1.3.2

# Message Queue
kafka-python==2.0.2

# Tools
python-dotenv>=1.0.0
loguru>=0.7.2
aiohttp>=3.8.0
PyMySQL==1.1.0
requests>=2.31.0
websocket-client>=1.7.0
psutil==5.9.7
pyyaml>=6.0.1
pydantic>=2.5.2

# Testing
pytest>=7.4.3
pytest-asyncio>=0.21.0
pytest-cov>=4.0.0
pytest-mock>=3.11.0

# Type Hints
typing-extensions==4.8.0 